<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujs.shop.mapper.CategoryMapper">

    <select id="categoryPage" resultType="com.ujs.shop.common.dto.CategoryPageDTO">
        select name, type, update_user, update_time
        from shop_category
        <where>
            <if test="type != null">
                type = #{type}
            </if>
            <if test="name != null and name != ''">
                name like concat("%", #{name}, "%")
            </if>
            and is_deleted = 0
        </where>
        order by create_time desc
    </select>

</mapper>
